{% extends "base.html" %}

{% block content %}
    
    <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active" id="front-page">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Welcome to <span>StarSocial</span></h2>
          <p class="animate__animated animate__fadeInUp">This a a social media site in which you can create groups of users, post a message, be a member of any group.
            For this you have to create your account by signing up first and then logging in. The messages in the groups are visible publically. Now you are free to 
            access the site. Enjoy!!</p><br>
            
            <p>Made by: </p><a href="https://github.com/Pratham123-n" class="btn-get-started animate__animated animate__fadeInUp">Prathamesh Nagare</a>
        </div>
      </div>

    </div>
  </section><!-- End Hero -->
{% endblock %}